# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
build
dist
storybook-static
storybook-build
www

# interactivity
@interactivity/app/views/

# misc
/.cache-loader
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
kungfu.tar
.project
.settings/
.idea/*
.history
.lighthouseci
#vim swap files
.*.sw*

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Local Netlify folder
.netlify
